body {
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/melbourne.jpg') center center no-repeat;
    background-size: cover;
    top: 0;
    z-index: -1;
    opacity: 1.5;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%; /* Adjusted width for full-width navbar */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    z-index: 100;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
    margin-right: 10px;
    background: transparent;
    border-radius: 4px;
}

.navbar-name {
    font-family: "Archivo Black", sans-serif;
    color: white;
    margin: 0;
    font-size: 24px;
}

.text-blue {
    color: #1b1bf4;
}

.text-red {
    color: #ed0000;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar-menu a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    font-family: "Ubuntu Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px 15px;
    border: 1px solid white;
    border-radius: 17px;
    color: white;
    outline: none;
    height: 20px;
}

.navbar-search button {
    padding: 6px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 17px;
    background-color: #1b1bf4;
    color: white;
    cursor: pointer;
    font-family: "Ubuntu Sans", sans-serif;
}

.navbar-search button:hover {
    background-color: #ed0000;
}

.social-icons {
    position: fixed;
    top: 72%;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 14px 0;
}

.container {
    width: 80%;
    position: relative;
    top: 148px;
    left: 50%; /* Centering container horizontally */
    transform: translateX(-50%);
}

.container-head {
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    text-align: center; /* Centering container heading */
}

.container-last {
    width: 100%; /* Full-width container */
    margin: 60px 0;
}

.container-last p {
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    margin: 0 0;
    color: white;
}

.container-btn button {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 6px;
    background: #ed0000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    display: block; /* Ensuring button is block-level */
    margin: 0 auto; /* Centering button horizontally */
}

.container-btn button:hover {
    background-color: rgb(141, 5, 5);
}

/* Additional styles for search results */
#search-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 55px;
}

#search-content div {
    width: 80%; /* Adjusted width for better layout */
    margin: 30px auto; /* Centering search results */
    padding: 8px 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.result img {
    width: 100%; /* Ensuring images fill the container */
    border-radius: 8px;
}

.result h2,
.result p {
    font-family: "Ubuntu Sans", sans-serif;
    color: beige;
    text-align: center; /* Centering text */
}

.result hr {
    border: 0.5px solid white;
}
